services:
  postgres_db:
    image: postgres
    container_name: postgres_db
    restart: always
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

    environment:
      POSTGRES_DB: evhubnepal
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root

    ports:
      - 5433:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - postgres_db
